



/* coding css reset strat*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}



body {
  line-height: 1;
  /* background-color: rgb(110, 110, 110); */
  background-image: url(../assets/img/banner.avif);
  background-repeat: no-repeat;
  color: rgb(18, 18, 19);
  background-size: cover;
  background-size: 100% 100%;
  background-attachment: fixed;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* coding css reset end*/


html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

/* star container  */
.container {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 254, 254);
}

/* end  container  */

/* star navabr */
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  width: 80%;
  border: 2px solid rgb(18, 41, 49);
  box-sizing: border-box;
  background-color: rgb(18, 41, 49);
  position: relative;
  position: fixed;
  z-index: 1;
}

.logo {
  margin-left: 30px;
  display: flex;
}

.logo img {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 40px;
  margin: 4px;

}

h2 {
  font-size: 15px;
  line-height: 40px;
  color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 10px;
  font-weight: bold;
}

nav {
  margin-left: 500px;
  margin: 10px;
  margin-left: 750px;
}

nav ul li {
  display: inline-block;
  padding: 11px 10px;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #c5c2c2;
  font-weight: 600;
  text-transform: capitalize;
  padding: 5px;
}

nav ul li a:hover {
  border-top: 2px solid lightskyblue;
  border-bottom: 2px solid lightskyblue;
  color: lightskyblue;
  padding: 0;
  margin: 0;
}
.toggle-btn {
  width: 35px;
  position: absolute;
  right: 20px;
  top: 15px;
  display: none;
}

.toggle-btn span {
  display: block;
  width: 100%;
  height: 2px;
  float: left;
  background-color: #000;
  margin-bottom: 8px;
}

/* end navabr */

/* hahu banner */
.banner {
  width: 100%;

  background-image: url(../assets/img/v.jpg);
  height: 600px;
  background-repeat: no-repeat;

  background-size: 100% 100%;
  position: relative;
  border-bottom: 2px solid white;
  top: 60px;
}

/* retama banner */

/* star section one */
/* start about */
h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;

  font-weight: bold;
}

/* star section one */

.boxs {
  display: flex;
}

#about {
  margin-top: 100px;
}

.about-p {
  width: 60%;

  margin: 0 10px;
  line-height: 30px;
  text-align: justify;
}

.imagen {
  width: 40%;
  margin-left: 3px;
}

.imagen img {
  width: 100%;
}

/* end section one */

/* star section two  */
.activity {
  margin-top: 60px;
}

.boxs2 {
  display: flex;
  margin-top: 30px;
}
.box2 {
  width: 35%;
  margin: 5px;
}

.p2 {
  text-align: justify;
  line-height: 25px;
  padding: 5px;
  margin: 4px;
}
/* end section two  */

/* star section tree */
.section3 {
  height: 350px;
  background-color: #323030;
}

.contact {
  color: aliceblue;
}

.boxs3 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}
.media {
  height: 100px;
  line-height: 40px;
  margin-top: 40px;
}

.pbc {
  width: 25%;
}

.pbc img {
  width: 100%;
  border-radius: 50px;
  margin-top: 40px;
}

.media ul li a {
  color: aliceblue;
  text-decoration: none;
}

.fa-whatsapp {
  font-size: 20px;
  color: rgb(10, 159, 22);
}
.fa-facebook {
  font-size: 20px;
  color: rgb(6, 99, 175);
}
.fa-envelope {
  font-size: 20px;
  color: rgb(154, 201, 26);
}

/* end section tree */

/* star footer  */
footer {
  height: 60px;
  line-height: 60px;
  font-style: italic;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  text-align: center;
}
/* end footer  */

/* star coding responsive */
@media (max-width: 800px) {
  .toggle-btn {
    display: block;
  }

  .toggle-btn:hover{
    background-color: rgb(255, 254, 254);
  }

  .container{
    width: 100%;
  }
  header {
    width: 100%;
    display: inline-block;
  }

  nav {
    display: none;
    width: 100%;
    border-top: 2px solid #000;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    margin-left: unset;
  }

  nav ul li {
    padding: 15px 12px;
    width: 100%;
  }

  nav.show {
    display: block;
  }
  nav ul li a:hover {
    border: none;
    color: lightskyblue;
  }

  
}
@media (max-width: 992px) {
  .logo {
    margin-left: 20px;
  }

  .navbar {
    width: 100%;
    margin-right: 20px;
  }
  .boxs {
    display: inline-block;
    margin: 10px;
    position: relative;
    bottom: 20px;
  }

  .imagen {
    width: 100%;
    margin: 0 auto;
  }

  p.about-p {
    width: 100%;
    margin: 0;
  }

  /* star box2   */
  .boxs2 {
    display: block;
    margin: 10px;
  }
  .box2 {
    width: 100%;
  }

  .img {
    width: 100%;
    margin: 0;
  }
  /* end box2  */

  /* star box3  */
  .boxs3 {
    width: 50%;
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 2px;
  }
  .pbc {
    width: 20%;
    margin: 0 auto;
  }

  .section3 {
    height: 500px;
  }

  footer {
    font-size: 10px;
  }
  p {
    font-size: 15px;
  }
  /* end box3  */
}



















































































